.footer {
  margin: 3rem $main-lateral-margin/2 2rem $main-lateral-margin/2;
}

.copyrights {
  color: $color-primary;
  font-weight: bolder;
  font-size: 1rem;
  @media screen and (max-width: 800px) {
    margin-top: 50px;
    text-align: center;
  }
}
