.header {
  overflow: hidden;
  margin: 3.5%; /*a changer*/
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  &__navbar {
    display: flex;
    font-size: 20px;
    a {
      text-align: center;
      padding: 12px;
      margin: 5px;
      &:last-child {
        display: none;
      }
      &:hover {
        background-color: $color-primary;
        color: white;
        border-radius: 15px;
      }
      @media screen and (max-width: 768px) {
        display: none;
        &:last-child {
          display: block;
        }


        /*-----------------refaire le menu déroulant mobile/tablette-----------------*/
      }
    }
  }
}