.header {
  overflow: hidden;
  margin: 2rem $main-lateral-margin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    margin-right: 5px;
  }
  &__navbar {
    display: flex;
    justify-content: flex-end;
    flex: auto;
    font-size: 0.9rem;
    a {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 0.5rem;
      &:last-child {
        display: none;
      }
      &:hover {
        background-color: $color-primary;
        color: white;
        border-radius: 15px;
      }
      @media screen and (max-width: 768px) {
        display: none;
        &:last-child {
          display: block;
        }


        /*-----------------refaire le menu déroulant mobile/tablette-----------------*/
      }
    }
  }
}