.blur {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: $color-blur;
}

.modal {
  margin: 5% auto;
  padding: 40px 40px 30px 40px; /*add query pour avoir padding latéral 8% petit écran*/
  width: 100%;
  max-width: 500px;
  animation: modalopen 800ms;
  background: $color-background;
  overflow: hidden;
  position: relative; /*sert pour animation et bouton close*/
  color: white;
  border-radius: 10px;
  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    &__bar {
      position: absolute;
      height: 24px;
      width: 2px;
      left:50%;
      background-color: white;
      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}
