*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 18px;
  max-width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color : inherit;
}