$color-primary : #fe142f;
$color-secondary:  #3876ac;
$color-tertiary: #279e7a;
$color-background: #232323;
$color-unchecked: #C4C4C4;
$color-blur: rgba(26, 39, 156, 0.4);

$checkbox-radio-size : 20px;
$main-lateral-margin: 5%;